# Never commit secrets
.env

# Never commit virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/